
/*
     FILE ARCHIVED ON 11:21:57 Jun 13, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:11:35 Jan 14, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 11.784
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 1308.594
  LoadShardBlock: 193.181 (3)
  PetaboxLoader3.datanode: 160.943 (5)
  PetaboxLoader3.resolve: 148.684 (2)
  load_resource: 152.261
  loaddict: 35.866
*/